@import url(http://fonts.googleapis.com/css?family=Antic+Slab|Bevan|Open+Sans:300italic,400italic,700italic,400,300,700);

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

h1, h2 {
	font-family: 'Bevan', serif;
}

h3 {
	font-family: 'Antic Slab', serif;
}