// Screen
// ======

@import "normalize";
@import "colors";
@import "grids";
@import "responsive";
@import "fonts";
@import "rowMachine";

* {
	box-sizing: border-box;
}

h1, h2 {
	color: rgba($ymo-blue, .9);
	// text-shadow: 1px 1px 0px darken($ymo-blue, 10);
}

h3 {
	color: $ymo-orange;
	text-shadow: 1px 1px 0px darken($ymo-brown, 10);
}

h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

p {
	margin: 0 0 10px;
}

body {
	background-color: $ymo-green;
}

@mixin ymo-section {
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border: 5px solid $ymo-tan;
	background-color: rgba(lighten($ymo-tan, 10), .7);
	border-radius: 6px;
}

.container {
	background: url(../img/wood_texture.png);
	padding-top: 5px;
	padding-bottom: 15px;
	box-shadow: 1px 2px 0px darken($ymo-green, 10);
	min-height: 800px;
}

.logo-wrap {
	margin-top: 30px;
	.title-wrap {
		h1 {
			margin: 0;
			font-size: 75px;
			line-height: .5em;
		}
		h3 {
			// color: $ymo-brown;
		}
	}
	img, .title-wrap {
		display: inline-block;
	}
	.fblink {
		width: 64px;
		height: 64px;
		float: right;
		margin-top: 60px;
	}
}

.navbar {
	position: relative;
	display: block;
	min-height: 50px;
	background: $ymo-blue;
	// border: 1px solid darken($ymo-blue, 10);
	margin-bottom: 20px;
	border-radius: 4px;
	.container {
		background: $ymo-blue;
		padding-top: 0;
		padding-bottom: 0;
		box-shadow: none;
		padding-left: 0;
		padding-right: 0;
		min-height: 0;
	}
}

nav {
	display: block;
	height: auto;
	margin-right: 0;
	margin-left: 0;
	padding-bottom: 0;
	overflow: visible;
	padding-right: 0;
	padding-left: 0;
	.main-nav {
		display: block;
		float: left;
		margin: 0;
		list-style: none;
		padding-left: 0;
		li {
			display: block;
			float: left;
			position: relative;
			a {
				padding: 15px 15px;
				text-decoration: none;
				color: $ymo-brown;
				line-height: 20px;
				position: relative;
				display: block;
				// padding: 10px 15px;
			}
			a.active {
				color: $ymo-orange;
				background-color: $ymo-brown;
			}
			a:hover {
				color: #fff;
				text-shadow: 0 0 1px #fff;
			}
		}
	}
}

.main {
	.display {
		height: 400px;
		padding-right: 60px;
		padding-left: 60px;
		text-align: right;
		background: url(../img/men_boys_truck.jpg) center center no-repeat;
		h1 {
			color: #fff;
			font-size: 42px;
			padding-top: 5em;
			text-shadow: 1px 1px 0px #000;
			span {
				color: $ymo-orange;
				text-shadow: 1px 1px 0px #000;
			}
		}
		p {
			color: #fff;
			width: 710px;
			float: right;
			font-size: 21px;
			font-weight: 300;
			text-shadow: 1px 1px 0px #000;
			padding: 7.5px;
			text-align: right;
			background-color: rgba(225, 225, 225, .7);
			span {
				color: $ymo-orange;
				font-weight: 600;
				text-shadow: 1px 1px 0px #000;
			}
		}
	}
	.row {
		margin-top: 30px;
		article {
			text-align: center;
			padding-right: 15px;
			padding-left: 15px;
			padding-bottom: 15px;
			// @include ymo-section;
			p {
				background-color: rgba($ymo-tan, .7);
				padding: 5px;
			}
			img {
				border-radius: 50%;
				border: 8px solid rgba($ymo-brown, .5)
			}
		}
	}
}

.about {
	section {
		@include ymo-section;
		blockquote {
			font-style: italic;
		}
	}
	#ourValues {
		p {
			padding-left: 1em;
		}
	}
}

.sider {
	section {
		@include ymo-section;
		p {

		}
	}
	.headshot {
	float: left;
	margin-right: 15px;
	margin-top: 5px;
	}
}

.signup-wrap {
	article {
		section {
			@include ymo-section;
		}
	}
}

@import "contact";

.contact {
	@include ymo-section;
	background-color: #fff;
}

footer {
	text-align: center;
	padding: 15px 0;
}

#grid {
  background-color: #fff;
  .grid-img {
    @include rowMachine(3, 2%);
    padding: 10px;
    margin-bottom: 2%;
    float: left;
    max-width: 100%;
    background-size: cover;
    height: 400px;
    .activity {
      position: relative;
      left: 10px;
      top: 290px;
      background-color: rgba($ymo-blue, 0.7);
      p {
        color: #fff;
        font-size: 1.5em;
        padding: 5px;
        margin: 0;
      }
    }
  }
  #pic1 {
    background-image: url(../img/baseball.jpg);
  }
  #pic2 {
    background-image: url(../img/fishing.jpg);
  }
  #pic3 {
    background-image: url(../img/shooting.jpg);
  }
  #pic4 {
    background-image: url(../img/boy_tube.jpg);
  }
  #pic5 {
    background-image: url(../img/quad.jpg);
  }
  #pic6 {
    background-image: url(../img/bible_study.jpg);
  }
}